.container{
    border: 1px solid #2d3740;
    height: 520px;
    width: 400px;
    background: #1c262f;
}

body{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 90%;
    
}

html{
    background: #2d3740;
}

.new-container{
    
    height: 350px;
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: rgb(230, 225, 225);
    background: #2d3740;
    
}

.writing{
    padding: 15px;
}

.new-quote{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
    user-select: none;
    outline: none;
}

.down-quotes{
    float: right;   
}

.character{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    padding: 5px;
}